.contact__form-div {
	position: relative;
	height: 4rem;
	margin-bottom: 2rem;
}

.contact__form-area {
	height: 8rem;
}

.contact__form-input {
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	border-radius: 0.5rem;
	border: 1px solid #ccc;
}

.contact__form-input:focus {
	outline: 1px solid #ccc;
}

.contact__form-tag {
	position: absolute;
	top: -0.75rem;
	left: 1.25rem;
	padding: 0.25rem;
	font-weight: 700;
}

@media screen and (max-width: 1047px) {
	.contact__form-div {
		margin: 0 1rem 2rem;
	}
}
